= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :Name, class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, class: "chat__group_name chat-group-form__input", placeholder: "グループ名を入力してください"
      = f.hidden_field :id, class: "chat__group_id", value: group.id

      / メンバー追加フォーム
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバーを追加"} チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form_search.clearfix
        %input#user-search-field.chat-group-form__input{placeholder: "追加したいユーザー名を入力してください"}
        #user_search-result

        / groupメンバーリスト
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{for: "chat_group_チャットメンバー"} チャットメンバー
    .chat-group-form__field--right
      - members.each do |member|
        #chat-group-users
          .chat-group-user.clearfix{ id: "chat-group-user-#{member.id}" }
            %input{ name: "group[user_ids][]", type: "hidden", value: "#{member.id}" }
            %p.chat-group-user__name
              = member.name
            = link_to 'edit_group_path', class: "user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn", remote: true do
              削除
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: "chat-group-form__action-btn"
